div {
  height: 100vh;
  width: 100vw;
}
.div-out {
  background-color: black;
}

.panel1 {
  position: absolute;
  box-shadow: 0 0 50px grey;
  background-color: aqua;
}
.panel2 {
  position: absolute;
  box-shadow: 0 0 50px grey;
  background-color: red;
}
